<!DOCTYPE html>
<html>
<head>
  <title>RipPics</title>
  <%= stylesheet_link_tag    'homes', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:message]%>
		<p id='flash_message'><%=flash[:message] %></p>
	<% end%>
	<%= yield :imgur%>
	<%= yield :search%>
</body>
</html>
